.dark .opacity {
    color: black;
    opacity: 0.5;
}

.dark .table {
    background-color: rgba(198, 190, 205, 0.996);
}

.dark nav{
    background-color: #603660;
}

.dark footer{
    background-color: #603660;
}

.table {
    background-color: #f9f2f6;
}

.opacity {
    color: black;
    opacity: 0.5;
}

.button-style {
    border-color:#de286e;
    color: #de286e
}

.button-style:hover {
    color: #FFD1F7
}

nav {
    background-color: #bf8cbf;
}

:root {
    --darkbg: #2f2435;
    --darkt: #FFD1F7;
    --lightbg: #e5c1cd;
    --lightt: #de286e;

    --toggleHeight: 12em;
    --toggleWidth: 30em;
    --toggleBtnRadius: 6em;

    --bgColor--night: #453d69f8;
    --toggleBtn-bgColor--night: var(--bgColor--night);
    --mooncolor: #c8eff3;
    --bgColor--day: #9ee3fb;
    /* --toggleBtn-bgColor--day: #e6cbaa; */
}

body {
    transition: all .2s ease-in-out;
    background: var(--darkbg);
    color: var(--darkt);
    text-align: center;
}

.light {
    background: var(--lightbg);
    color: var(--lightt);
}

.tdnn {
    margin: 0 auto;
    /*change size of toggle with font-size*/
    font-size: 30%;
    margin-top: 10em;
    position: relative;
    height: var(--toggleHeight);
    width: var(--toggleWidth);
    border-radius: var(--toggleHeight);
    transition: all 500ms ease-in-out;
    background: var(--bgColor--night);
}

.day{
    background: #ecd886;
}

.moon {
    position: absolute;
    display: block;
    border-radius: 50%;
    transition: all 400ms ease-in-out;
    top: 1.75em;
    left: 2em;
    transform: rotate(-75deg);
    width: 8em;
    height: 8em;
    background: var(--toggleBtn-bgColor--night);
    box-shadow:
    3em 2.5em 0 0em var(--mooncolor) inset,
        rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em,
        rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em,
        rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
        rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em,
        rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
        rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em,
        rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
        rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}

.day .moon {
    background: var(--toggleBtn-bgColor--day);
}

.sun {
    position: absolute;
    display: block;
    border-radius: 50%;
    transition: all 400ms ease-in-out;

    top: 2.5em;
    left: 20em;
    transform: rotate(0deg);
    width: 7em;
    height: 7em;
    background: var(--toggleBtn-bgColor--day);
    box-shadow: 3em 3em 0 5em #fff inset,
        0 -5em 0 -2.7em #fff,
        3.5em -3.5em 0 -3em #fff,
        5em 0 0 -2.7em #fff,
        3.5em 3.5em 0 -3em #fff,
        0 5em 0 -2.7em #fff,
        -3.5em 3.5em 0 -3em #fff,
        -5em 0 0 -2.7em #fff,
        -3.5em -3.5em 0 -3em #fff;
}
