.container {
    position: relative;
    min-height: 100vh;
}

.content-container {
    padding-bottom: 10px;
    margin-bottom: 60px;
}

.footer {
    background-color: #bf8cbf;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.footer-text {
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    color: #fff;
}
