body {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.car-container {
  position: absolute;
  top: 20%;
  right: -500px;
  animation: car-animation 15s ease-in-out infinite;
}

@keyframes car-animation {
  0% {
    transform: translateX(75vw);
  }
  50% {
    transform: translateX(-21.5vw);
  }
  100% {
    transform: translateX(-120vw);
  }
}

.car-image {
  width: 1500px;
}

.dropdown-item.active {
  color: fff;
  background-color: rgba(219, 192, 225, 0.788) !important;
}

.dropdown-item:hover {
  color: rgb(222, 117, 191);
  background-color: rgba(219, 192, 225, 0.788);
}
